@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "satochi";
  src: url(./assets/ClashGrotesk_Complete/Fonts/OTF/ClashGrotesk-Bold.otf) format("opentype");
}

@font-face {
  font-family: "text-menu";
  src: url(./assets/ClashGrotesk_Complete/Fonts/OTF/ClashGrotesk-Semibold.otf) format("opentype");
}

@font-face {
  font-family: "supreme";
  src: url("./assets/Hind/Fonts/OTF/Hind-Regular.otf") format("opentype");
}

p, a, li, span{
  font-family: "supreme";
}

h1, h2{
  font-family: "satochi";
}

.text-menu{
  font-family: "text-menu";
}

h1 {
  animation: fadeIn 0.5s ease-in-out;
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}